body{
    padding: 0;
    margin:0;
    font-family: $oswald;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
    font-family: $oswald;
    color: $heading-color;
}
.pbh-1 {
	font-family: "Oswald";
	color: #0f0f0e;
	font-size: 42px;
	text-align: center !important;
	margin-bottom: 30px;
}
.pbh-2{
    font-family: $oswald;
    color: $heading-color;
    font-size: 36px;
    text-align: center !important;
}
.pbh-3{
    font-family: $oswald;
    color: $heading-color;
    font-size: 30px;
}
.pbh-4{
    font-family: $oswald;
    color: $heading-color;
    font-size: 24px;
}
p{
    font-family: $lato;
    color: $content-color;
    font-size: 16px;
}
a{
    font-family: $lato;
    color: $theme-color;
    font-size: 16px;
}
.white-color{
    color: $white-color !important;
}

.pb-btn-box {
	text-align: center;
	padding: 40px 0 20px 0;
}
.btn{
    color:#fff;
    border-radius: 50px;
    padding:6px 15px;
    height:50px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}
.btn-primary{
    background-color:$theme-bg;
    border:2px solid $theme-bg;
}
.btn-primary:hover{
    background-color:transparent;
    border:2px solid $theme-bg;
    color:$theme-bg;
}
.btn-secondary{
    background-color:$theme-bg2;
    border:2px solid $theme-bg2;
}
.btn-secondary:hover{
    background-color:transparent;
    border:2px solid $theme-bg2;
    color:$theme-bg2;
}

.pb-section{
    padding:50px 0;
}

.theme-bg{
    background-color:$theme-bg;
}
.theme-bg2{
    background-color:$theme-bg2;
}
.gray-bg{
    background-color:$gray-bg;
}
.dark-bg{
    background-color:$dark-bg;
}
.dark-bg2{
    background-color:$dark-bg2;
}


.award-box {
    width: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
}

.gray-box {
	background-color: #f8f5f1;
	border-radius: 10px;
	padding: 20px 20px;
}
.pb-row {
	display: block;
	width: 100%;
}


.footer-main{
.footer-top{
    background-color: $dark-bg;
    padding:50px 0;
    .foot-heading {
        color: #fff;
        font-size: 24px;
    }
    .info-bar{
        color:#918275;
        i {
            color: #615040;
        }
    }
    .social-contact{
        margin-bottom: 40px;;
    .social {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: inline-block;
            a {
                background-color: #615040;
                display: block;
                width: 34px;
                height: 34px;
                border-radius: 5px;
                text-align: center;
                line-height: 34px;
                margin-right: 5px;
                i{
                    color:$dark-bg;
                    &:before{
                        margin:0;
                    }
                }
            }
        }

    }
}
    .playstores{
        img{
            width: 160px;
        }
    }
    .payment-method{
        padding-top: 30px;
        .foot-heading {
            padding-bottom:15px;
        }
        img {
            width: 130px;
        }
        img{
        &:last-child {
            width: 75px;
            margin-left: 20px;
        }
    }
    }
}
.footer-bottom{
    background-color: $dark-bg2;
    padding:15px 0 10px 0;
    p{
        color: #615040;
        font-size: 15px;
    }
    .footer-menu {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: right;
        li {
            display: inline-block;
            margin-right: 10px;
            a{
                font-size: 15px;
                color: #615040;
                &:hover{
                    text-decoration: none;
                    color:$theme-color;
                }
            }
        }
    }
}
}




#back-top {
	position: fixed;
	bottom: 25px;
    right: 30px;
   a {
        display: block;
        width: 40px;
        height: 40px;
        background-color: $theme-bg;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        line-height: 40px;
        font-size: 20px;
    }
}


.pb-form{
    .form-control {
        border-radius: 50px;
        height: 50px;
        font-family: lato;
    }
    
}