

.slider-main{
    display: block;
	width: 100%;
    position: relative;
    padding: 0;
    .main-header {
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 30px 0;
        .menu-col {
            position: static;
        }
        .logo {
            width: 200px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .main-menu {
            padding: 0;
            margin: 0;
            list-style-type: none;
            text-align: right;
            display: inline-block;
            width:calc(100% - 150px);
            li {
                display: inline-block;
                a{
                    padding:10px;
                    color:#fff;
                    font-weight: 500;
                    &:hover{
                        color:$theme-color;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
                .btn.btn-primary {
                    padding: 6px 15px !important;
                    height: 42px;
                    line-height: 25px;
                }
            }
            
        }

        .search-bar {
            display: inline-block;
            width: 70px;
            vertical-align: middle;
            a {
                width: 100%;
                background-color: $theme-color;
                display: block;
                padding: 6px 15px;
                border-radius: 50px;
                color: #fff;
                text-align:center;
                &:hover{
                    text-decoration: none;
                }
            }
            .search-field {
                display: none;
                position: absolute;
                background-color: rgba(0,0,0,0.3);
                width: 100%;
                left: 0;
                top: 102px;
                right: 0;
                padding: 20px 150px 5px 150px;
                .form-group.email {
                    display: inline-block;
                    width: calc(100% - 150px);
                    vertical-align: middle;
                }
                .form-group.submit {
                    display: inline-block;
                    width: 140px;
                    vertical-align: middle;
                    a {
                        height: 50px;
                        line-height: 35px;
                        font-size: 18px;
                    }
                }
            }
        }
        
        .language-drop{
            display: inline-block;
            width: 70px;
            position: relative;
            .btn.language-btn {
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 30px;
                width: 70px;
                height: 35px;
                line-height: 24px;
                text-align: left;
                font-family: $lato !important;
                &:after {
                    content: "\f120";
                    position: absolute;
                    font-family: flaticon;
                    font-size: 12px;
                     right: 10px;
                }
            }
            .drop-menu {
                display: none;
                position: absolute;
                background-color: #fff;
                width: 100%;
                border-radius: 6px;
                top: 40px;
                a{
                    color: #222;
                    text-align: left;
                    border-radius: 6px;
                }                  
            }
        }
    }



.slider-section-main {
    .bx-wrapper {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            background-color: rgba(0,0,0,0.6);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        .bx-pager.bx-default-pager {
            display: none;
        }
    }
    .slider-text {
        position: absolute;
        top: 30%;
        left: 15%;
        text-align: center;
        width: 70%;
        .pbh-1 {
            color: #fff;
            line-height: 80px;
        }
        p {
            color: #fff;
            width: 80%;
            margin: 0 auto 25px auto;
            &:last-child{
                margin-bottom:60px;
            }
        }
    }
	
}
    
}


.pb-section.slider-main{
    display: block;
	width: 100%;
    position: relative;
    padding: 0;

    .main-header-inn {
        background-color: #fff;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 30px 0;
        .menu-col{
            position: static;
        }
        .logo {
            width: 200px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .main-menu {
            padding: 0;
            margin: 0;
            list-style-type: none;
            text-align: right;
            display: inline-block;
            width:calc(100% - 150px);
            li {
                display: inline-block;
                a{
                    padding:10px;
                    color:$heading-color;
                    font-weight: 500;
                    &:hover{
                        color:$theme-color;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
                .btn.btn-primary {
                    padding: 6px 15px !important;
                    height: 42px;
                    line-height: 25px;
                    color:#fff;
                    &:hover{
                        color:$theme-color;
                    }
                }
            }
        }
        .search-bar {
            display: inline-block;
            width: 70px;
            vertical-align: middle;
            a {
                width: 100%;
                background-color: $theme-color;
                display: block;
                padding: 6px 15px;
                border-radius: 50px;
                color: #fff;
                text-align:center;
                &:hover{
                    text-decoration: none;
                }
            }
            .search-field {
                display: none;
                position: absolute;
                background-color: rgba(0,0,0,0.3);
                width: 100%;
                left: 0;
                top: 102px;
                right: 0;
                padding: 20px 150px 5px 150px;
                .form-group.email {
                    display: inline-block;
                    width: calc(100% - 150px);
                    vertical-align: middle;
                }
                .form-group.submit {
                    display: inline-block;
                    width: 140px;
                    vertical-align: middle;
                    a {
                        height: 50px;
                        line-height: 35px;
                        font-size: 18px;
                    }
                }
            }
        }
        
        .language-drop{
            display: inline-block;
            width: 70px;
            position: relative;
            .btn.language-btn {
                background-color: transparent;
                border: 1px solid #111;
                color:#111;
                border-radius: 30px;
                width: 70px;
                height: 35px;
                line-height: 24px;
                text-align: left;
                font-family: $lato !important;
                &:after {
                    content: "\f120";
                    position: absolute;
                    font-family: flaticon;
                    font-size: 12px;
                     right: 10px;
                }
            }
            .drop-menu {
                display: none;
                position: absolute;
                background-color: #fff;
                width: 100%;
                border-radius: 6px;
                top: 40px;
                a{
                    color: #222;
                    text-align: left;
                    border-radius: 6px;
                }                  
            }
        }

    }


    .banner-section-main {
        
        min-height: 400px;
        background-image: url(../image/s2.jpg);
        background-position: center;
background-size: cover;
background-repeat: no-repeat;
        .black-overlay {
            padding: 50px 0;
            background-color: rgba(0,0,0,0.5);
            min-height: 400px;
        .banner-text {
            text-align: center;
            padding: 100px 0 0 0;
            .pbh-1{
                color: #fff;
                padding-bottom: 40px;
            }
        }
    }
}
}
	

.pb-section.mobile-app {
    background-color: #e39836;
    .pbh-2 {
        color: #fff;
        font-family: lato;
        font-size: 30px;
        font-weight: 600;
    }
    .playstore-applestore{
        text-align: right;
        img {
            width: 160px;
        }
    }
}

.pb-content-section {
	text-align: center;
    padding: 50px 0;
    .pbh-1 {
        margin-bottom: 30px;
    }
    p {
        width: 70%;
        margin: 0 auto 30px auto;
    }
}


.pb-home-security{
    padding:50px 0;
    .pbh-1 {
        margin-bottom: 40px;
    }
}



.pb-section.award-technology-leadership {
    background-image: url(../image/s2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    padding: 0;
    .black-overlay {
        padding: 50px 0;
        background-color: rgba(0,0,0,0.5);
    }
    .award-box {
        width: 100%;
        margin: 25px 0;
        padding: 10px;
        p{
            color: $theme-color;
        }
    }
    
}


.pb-testimonial{

    .home-testimonial {
        width: 60%;
        margin: 30px auto;
        .owl-nav{
            .owl-prev {
                position: absolute;
                left: -120px;
                top: 30%;
                background-color: $heading-color;
                width: 45px;
                height: 45px;
                border-radius: 100%;
                text-align: center;
                &:after{
                    content: "\f118";
                    position: absolute;
                    font-family:flaticon;
                    top: 4px;
                    left: 7px;
                    font-size: 24px;
                    color: #fff;
                }
                
            }
            .owl-next {
                position: absolute;
                right: -120px;
                top: 30%;
                background-color: $heading-color;
                width: 45px;
                height: 45px;
                border-radius: 100%;
                text-align: center;
                &:after{
                    content: "\f11a";
                    position: absolute;
                    font-family:flaticon;
                    top: 4px;
                    right: 7px;
                    font-size: 24px;
                    color: #fff;
                }
            }
            span{
                display: none;
            }
        }
    }

}



.why-protect-box{
   .pb-block {
        text-align: center;
        min-height: 220px;
        padding: 10px 15px;
        i {
            color: $theme-color;
            &:before{
                font-size: 52px;
            }
        }
    }
}


.pb-cases {
    background-image: url(../image/s3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    padding: 0;
    .black-overlay {
        padding: 50px 0;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
    }
    p{
        color: #fff;
    }
    .award-box {
        width: 80%;
        margin: 25px auto;
        padding: 25px;
        text-align: center;
        position: relative;
        img {
            width: 90px !important;
            margin: 0px auto 20px auto;
        }
        p{
            color: $heading-color;
        }
        
        .btn-secondary{
            position: relative;
            .case-hover-content {
                display: none;
                position: absolute;
                background-color: #fff;
                border:1px solid #eee;
                padding: 15px;
                border-radius: 15px;
                box-shadow: 0 4px 10px 3px rgba(0,0,0,0.1);
                top: 50px;
                left: -100px;
                width: 360px;
                p {
                    font-size: 15px;
                    white-space: normal;
                    text-transform: none;
                }
                &:after{
                    content: "";
                    position: absolute;
                    border:15px solid transparent;
                    border-top:none;
                    border-bottom-color:#fff;
                    top: -15px;
                    left: 158px;
                }
                &:before{
                    content: "";
                    position: absolute;
                    border:16px solid transparent;
                    border-top:none;
                    border-bottom-color:#eee;
                    top: -17px;
                    left: 157px;
                }
            }
            &:hover{
                .case-hover-content{
                    display: inline-block;
                } 
            }
        }
    }

    .home-cases{
        .owl-dot.active{ 
            span {
            background: $theme-bg2 !important;
        }
    }
    }
    .case-filter {
        width: 200px;
        margin-left: auto;
        margin-right: 35px;
    }
    
}



.gray-bg.pb-how-work{
    .pc-icon-box{
        text-align: center;
       i {
            color: #e39836;
            display: block;
            width: 75px;
            height: 75px;
            margin: 15px auto;
            border: 2px dashed #dedede;
            border-radius: 100%;
            &:before{
                margin: 0;
                font-size: 50px;
            }
        }
    }
    .award-box {
        min-height: 220px;
        padding: 35px 25px;
        position: relative;
        margin-bottom: 25px;
        .box-number {
            font-size: 28px;
            font-weight: 600;
            color: #dedede;
            position: absolute;
            top: 0;
            left: 10px;
        }
    }
    .arrow-col{
        .pc-icon-box{
            position: relative;
           &:after {
            content: "";
            position: absolute;
            background-image: url(../image/icon/arrow.png);
            width: 253px;
            height: 39px;
            top: 20px;
            left: -140px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:before {
            content: "";
            position: absolute;
            background-image: url(../image/icon/arrow2.png);
            width: 253px;
            height: 39px;
            top: 0;
            right: -140px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        }
    }
    .arrow-col2{
        .pc-icon-box{
            position: relative;
           &:after {
            content: "";
            position: absolute;
            background-image: url(../image/icon/arrow3.png);
            width: 253px;
            height: 39px;
            top: 20px;
            left: -140px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:before {
            content: "";
            position: absolute;
            background-image: url(../image/icon/arrow4.png);
            width: 253px;
            height: 39px;
            top: 0;
            right: -140px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        }
    }
}






.home-different-section{
    .different-img {
        width: 100%;
        min-height: 380px;
        overflow: hidden;
        border-radius: 10px;
        img{
            width: 100%;
            height: 380px;
            object-fit: cover;
        }
    }

}


.pb-category-section{
    .pbh-1{
        margin-bottom: 30px;
    }
    .pb-block {
        text-align: center;
        a {
            font-size: 20px;
            color: #121212;
            &:hover{
                text-decoration: none;
            }
        }
        i{
            color:$theme-color;
            &:before{

                font-size: 50px;
            }
        }
    }
    .home-category {
    .owl-nav{
        .owl-prev {
            position: absolute;
            left: -30px;
            top: 30%;
            background-color: $heading-color;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            text-align: center;
            &:after{
                content: "\f118";
                position: absolute;
                font-family:flaticon;
                top: 4px;
                left: 7px;
                font-size: 24px;
                color: #fff;
            }
            
        }
        .owl-next {
            position: absolute;
            right: -30px;
            top: 30%;
            background-color: $heading-color;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            text-align: center;
            &:after{
                content: "\f11a";
                position: absolute;
                font-family:flaticon;
                top: 4px;
                right: 7px;
                font-size: 24px;
                color: #fff;
            }
        }
        span{
            display: none;
        }
    }
}
}


.latest-news{
    .pbh-1{
        margin-bottom: 40px;;
    }
    .info-box {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
        overflow: hidden;
        .news-img {
            height: 260px;
            img{
                width: 100%;
                height: 260px;
                object-fit: cover;
            }
        }
        .text {
            min-height: 80px;
            text-align: center;
            padding-top: 20px;
        }
    }
}


.newsletter-section {
    background-color: #e39836;
    .pbh-2 {
        color: #fff;
        font-family: lato;
        font-size: 30px;
        font-weight: 600;
        text-align: left !important;
    }
    .newsletter-form{
        .email {
            float: left;
            width: calc(100% - 65px);
            .form-control {
                width: 100%;
                height: 50px;
                border-radius: 30px 0 0 30px;
                border:none;
                font-family: lato;
            }
           
        }
        .submit {
            float: left;
            width: 65px;
            a {
                width: 100%;
                display: block;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 0 30px 30px 0;
                height: 50px;
                color: #fff;
                line-height: 44px;
                text-align: center;
                &:hover{
                    text-decoration: none;
                }
                i{
                    &:before{
                        font-size: 28px;
                        margin:0;
                    }
                }
            }
        }
    }

}

.security-everyone{
    .gray-box{
        h4 {
            margin-bottom: 20px;
        }
    }
.pbh-1 {
	margin-bottom: 40px;
}
}

























.pb-video {
    min-height: 400px;
    background-image: url(../image/video-bg.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    .video-overlay {
        background-color: rgba(227,152,54,0.85);
        min-height: 400px;
        position: relative;
        .video-icon {
            position: absolute;
            top: 40%;
            left: 40%;
           .video-btn {
                position: relative;
                z-index: 1;
                height: 100px;
                display: block;
                width: 100px;
                border-radius: 100%;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    height: 80px;
                    width: 80px;
                    line-height: 80px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    border-radius: 50%;
                    -webkit-animation: pulse-border 1500ms ease-out infinite;
                    animation: pulse-border 1500ms ease-out infinite;
                    pointer-events: none;
                    z-index: -1;
                }
                .fa.fa-play {
                    background-color: #fff;
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    position: absolute;
                    top: 0;
                    left: 0px;
                    text-align: center;
                    line-height: 100px;
                    font-size: 30px;
                    &:hover{
                        color:$theme-color;
                    }
                }
                img{
                    width: 100px;
                }
            }
            .white::after {
                background: #ffffff;
            }
    }
}
}


@-webkit-keyframes pulse-border {
    0% {
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }

    100% {
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes pulse-border {
    0% {
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }

    100% {
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}




.pb-team-section{
    .team-box{
        .team-img {
            background-color: #d8dad9;
            min-height: 170px;
            position: relative;
            overflow: hidden;
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left:0;
                transition: 0.4s ease-in-out 0s all;
            }
            .social-account {
                position: absolute;
                top: 100%;
                left: 25%;
                transition: 0.3s ease-in-out 0s all;
                z-index: 99;
                a {
                    margin: 7px;
                    &:hover{
                        text-decoration: none;
                    }
                    i {
                        color: #fff;
                    }
                }
            }
        }
        .team-info{
            text-align: center;
            h2 {
                font-size: 20px;
            }
            h5 {
                font-family: lato;
                font-size: 16px;
            }
        }
        &:hover{
            .team-img{
                &:after{
                    background-color: rgba(227,152,54,0.75);
                    z-index: 9;
                    transition: 0.4s ease-in-out 0s all;

                }
            }
            .social-account {
                top: 40%;
                transition: 0.3s ease-in-out 0s all;
            }
        }
    }

}



.pb-partners-investors {
	background-image: url(../image/s3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: top;
    padding:0;
    .white-overlay{
        background-color: rgba(255,255,255,0.9);
        padding: 50px 0;
    .home-partner{
        .item{
            img {
                width: 170px !important;
            }
        }
    }
}
}



.pb-journey-info{
    .pbj-icon-box {
        text-align: center;
        display: inline-block;
        width: 32%;
        margin-bottom: 10px;
        min-height: 150px;
        vertical-align: middle;
        h6{
            color: #696969;
        }
        i {
            color: #e39836;
            display: block;
            width: 75px;
            height: 75px;
            margin: 15px auto;
            border: 2px dashed #dedede;
            border-radius: 100%;
            &:before {
                margin: 0;
                font-size: 50px;
            }
        }
    }
    .pbj-col-12:first-child .pbj-icon-box {
        width: 100%;
    }
    .pbj-col-12:nth-child(3) h4{
        text-align: right;
    } 

    .year-bar {
        background-color: #e39836;
        border-radius: 40px;
        padding: 1px 10px;
        color: #fff;
        font-size: 16px;
        margin-right: 10px;
    }
    h4 {
        font-size: 20px;
    }

}




.pb-fullscreen-video {
    min-height: 400px;
    background-image: url(../image/video-bg.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    .video-overlay {
        background-color: rgba(227,152,54,0.85);
        min-height: 400px;
        position: relative;
        padding: 50px 0;
        .video-icon {
            position: absolute;
            top: 36%;
            left: 46%;
           .video-btn {
                position: relative;
                z-index: 1;
                height: 100px;
                display: block;
                width: 100px;
                border-radius: 100%;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    height: 80px;
                    width: 80px;
                    line-height: 80px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    border-radius: 50%;
                    -webkit-animation: pulse-border 1500ms ease-out infinite;
                    animation: pulse-border 1500ms ease-out infinite;
                    pointer-events: none;
                    z-index: -1;
                }
                .fa.fa-play {
                    background-color: #fff;
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    position: absolute;
                    top: 0;
                    left: 0px;
                    text-align: center;
                    line-height: 100px;
                    font-size: 30px;
                    &:hover{
                        color:$theme-color;
                    }
                }
                img{
                    width: 100px;
                }
            }
            .white::after {
                background: #ffffff;
            }
    }
    .pb-btn-box {
        margin-top: 220px;
    }
}
}