
    $theme-bg : #e39836;
    $theme-bg2 : #84c62b;
    $gray-bg : #f8f5f1;
    $dark-bg : #1e1b18;
    $dark-bg2 : #181614;

    $theme-color: #e39836;
    $theme-color2: #84c62b;

    $heading-color:#0f0f0e;
    $content-color:#171715;
    $white-color:#fff;

    $lato:'Lato';
    $oswald:'Oswald';

