/* Login */

.tooltiplink + .tooltip > .tooltip-inner {
  background-color: #73ad21;
  color: #ffffff;
  border: 1px solid green;
  padding: 15px;
  font-size: 20px;
}
.tooltip-inner {
  min-width: 300px;
}
/* Tooltip on top */
.tooltiplink + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid green;
}

/* Tooltip on bottom */
.tooltiplink + .tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid blue;
}

/* Tooltip on left */
.tooltiplink + .tooltip.left > .tooltip-arrow {
  border-left: 5px solid red;
}

/* Tooltip on right */
.tooltiplink + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}
.rounded_div {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #bfbfbf;
  border-radius: 5px;
}
.field-icon {
  float: right;
  margin-right: 5px;
  margin-top: -29px;
  position: relative;
  font-size: 18px;
  z-index: 2;
}

/* 
Header */
.hide-icon {
  opacity: 0;
}

@media only screen and (min-width: 992px) {
  .log-bar {
    display: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
  }
}

.navbar-nav,
.navbar {
  display: flex;
  align-items: center;
}
.navbar .btn {
  font-size: 15px;
  padding: 8px 10px;
}
@media only screen and (max-width: 992px) {
  .navbar-nav,
  .navbar {
    align-items: flex-start;
  }
}
.dropdown-menu.show {
  left: auto;
  right: 0;
}
.log-icon {
  position: relative;
}
.log-bar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 25px;
}
.panel-collapse {
  border: 1px solid black;
}
.ssbtn {
  display: none;
}

.qheading {
  padding: 0.5rem;

  border: 0.5px solid black;
}
.qheading > p > a {
  height: auto !important;
  width: auto !important;
  background-color: white !important;
  color: black !important;
  text-align: left !important;
}
.p3 {
  padding: 1rem;
  font-size: 14px;
}
.mainsearchdiv {
  position: absolute;
  background: white;
  width: 80%;
}
p.readmore > a {
  height: auto !important;
  width: auto !important;
  background: none !important;
  color: green !important;
}
.header-figure {
  width: 160px;
  height: 50px;
}
.navbar {
  background: #181614 !important;
}
.header-figure img {
  height: 100%;
  width: 100%;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active {
  color: white;
}
/* Register */
.pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}
@media only screen and (max-width: 1214px) and (min-height: 1000px) {
  .register label {
    font-size: 65%;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 776px) {
  .register label {
    font-size: 65%;
  }
}

.errors {
  width: 100%;
}

.tooltiplink + .tooltip > .tooltip-inner {
  background-color: #73ad21;
  color: #ffffff;
  border: 1px solid green;
  padding: 15px;
  font-size: 20px;
}
.tooltip-inner {
  min-width: 300px;
}
/* Tooltip on top */
.tooltiplink + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid green;
}

/* Tooltip on bottom */
.tooltiplink + .tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid blue;
}

/* Tooltip on left */
.tooltiplink + .tooltip.left > .tooltip-arrow {
  border-left: 5px solid red;
}

/* Tooltip on right */
.tooltiplink + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}
.rounded_div {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #bfbfbf;
  border-radius: 5px;
}

.another {
  border: 3px solid #ec8c0e;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.field-icon {
  float: right;
  margin-right: 5px;
  margin-top: -29px;
  position: relative;
  font-size: 18px;
  z-index: 2;
}
.register .form-group {
  margin-right: 5px;
}
/* Sales */
.faqs-page .card-header .btn,
.sales .card-header .btn,
.subscription .card-header .btn {
  display: block;
  width: 100%;
  padding-left: 0;
}
.collapse-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Coupons */

.coupons-buttons {
  background-color: #ec8b0d !important;
  border-color: #eea236;
  width: fit-content;
  color: white;
  font-size: 14px;
}
.btn-table {
  color: #fff;
  box-shadow: 1px 1px 10px #28a745;
  padding: 0.6rem 0.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

/* Contact Us */

.rounded_div {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #bfbfbf;
  border-radius: 5px;
}

.contactus .form-group {
  margin-right: 10px;
}

/* Blogs */

#blog_section1 {
  height: 450px;

  background-image: url(/assets/image/s2.jpg);

  background-size: cover;
}

.bgdarkk {
  background-color: #0f0f0ea6;

  height: 100%;
}

.emailbtn {
  height: 36px;

  color: white;

  background: e39836;

  background-color: #e39836;

  border: none;

  border-radius: 50px;
}

.br50 {
  border-radius: 50px;
}
#blog-opt {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 3rem;
  z-index: 99;
}

.conclass {
  padding-top: 5rem;
}

.readmorebtn {
  padding-left: 1.5rem;

  background: #e39837;

  color: white;

  padding-top: 0.4rem;

  padding-bottom: 0.4rem;

  border-radius: 50px;

  padding-right: 1.5rem;

  font-size: 14px;

  text-decoration: none;
}

.readmorebtn:hover {
  text-decoration: none;
}

.page-item.active .page-link {
  z-index: 1;

  color: #fff;

  background-color: #e39837;

  border-color: #e39837;
}

.page-link {
  color: black;
}

.white-header {
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;

  width: 100%;

  top: 0;

  left: 0;

  right: 0;

  z-index: 999;

  padding: 30px 0;
}

.pb-section.slider-main .main-header {
  position: initial;
}

.tooltiplink + .tooltip > .tooltip-inner {
  background-color: #73ad21;
  color: #ffffff;
  border: 1px solid green;
  padding: 15px;
  font-size: 20px;
}

/* Tooltip on top */
.tooltiplink + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid green;
}

/* Tooltip on bottom */
.tooltiplink + .tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid blue;
}

/* Tooltip on left */
.tooltiplink + .tooltip.left > .tooltip-arrow {
  border-left: 5px solid red;
}

/* Tooltip on right */
.tooltiplink + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}

.tooltip-inner {
  max-width: 350px !important;
  /* If max-width does not work, try using width instead */
  min-width: 350px !important;
}

.custom-button {
  padding: 12px 25px 8px 25px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.custom-button.orange {
  color: #eb8b10;
  border: 3px solid #eb8b10;
}

.custom-button.green {
  color: #84c72a;
  border: 3px solid #84c72a;
}
.stripe_btn {
  color: #708299;
  background-color: #eaf1f8;
  font-weight: bold;
}
.stripe_btn:hover {
  color: #708299;
  background-color: #eaf1f8;
  font-weight: bold;
}
span.multiselect-native-select {
  position: relative;
}
span.multiselect-native-select select {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px -1px -1px -3px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  left: 50%;
  top: 30px;
}
.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.multiselect-container .input-group {
  margin: 5px;
}
.multiselect-container > li {
  padding: 0;
}
.multiselect-container > li > a.multiselect-all label {
  font-weight: 700;
}
.multiselect-container > li.multiselect-group label {
  margin: 0;
  padding: 3px 20px 3px 20px;
  height: 100%;
  font-weight: 700;
}
.multiselect-container > li.multiselect-group-clickable label {
  cursor: pointer;
}
.multiselect-container > li > a {
  padding: 0;
}
.multiselect-container > li > a > label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 0 3px 30px;
}
.multiselect-container > li > a > label.radio,
.multiselect-container > li > a > label.checkbox {
  margin: 0;
}
.multiselect-container > li > a > label > input[type="checkbox"] {
  margin-bottom: 5px;
}
.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 40px;
}
.form-inline .multiselect-container li a label.checkbox input[type="checkbox"],
.form-inline .multiselect-container li a label.radio input[type="radio"] {
  margin-left: -20px;
  margin-right: 0;
}
.new_div {
  margin-bottom: 20px;
}
.rounded_div {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #bfbfbf;
  border-radius: 5px;
}
.account_info {
  border: 3px solid #000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.another {
  border: 3px solid #ec8c0e;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.another_one {
  border: 3px solid #83c627;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
label {
  font-weight: normal !important;
}

.form-control::-webkit-inner-spin-button,
.form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #6ca71b;
  color: #fff !important;
}
.switch-light {
  margin-left: 0px !important;
}
.new_div {
  margin-bottom: 20px;
}
.rounded_div {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #bfbfbf;
  border-radius: 5px;
}
.main_image {
  width: 60%;
  margin: 0 15px 30px 0;
}
#gauge_compliance-license-text {
  display: none;
}
#gauge_supply_chain-license-text {
  display: none;
}
.new_div {
  margin-bottom: 20px;
}
.panel-collapse {
  border: none !important;
}
.repeatrow {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.rounded_div {
  border: 0px solid #ccc;
  padding: 0;
  border-radius: 5px;
}
.step {
  border-left: 1px solid #ddd;
  padding: 20px 0 20px 31px;
  margin: 0 0 10px 20px;
}
.main_image {
  width: 40%;
  margin: 0 15px 30px 0;
}
.starrr {
  color: #ee8b2d;
}
.read_only {
  color: #ee8b2d !important;
}

/* Cupons Page */
.cupon-btn {
  list-style: none;
  display: flex;
  margin: 1rem 0.5rem;
  padding: 0;
  font-size: 17px;
}

.cupon-btn li {
  margin-right: 0.6rem;
}

.new_div {
  margin-bottom: 20px;
}
.rounded_div {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #bfbfbf;
  border-radius: 5px;
}
.main_image {
  width: 60%;
  margin: 0 15px 30px 0;
}

/* New Header */

.panel-collapse {
  border: 1px solid black;
}
.ssbtn {
  display: none;
}

/* Questionaire */

.btn-3 {
  display: flex;
  justify-content: flex-end;
}
.btn-3 button {
  margin-right: 5px;
}
@media only screen and (max-width: 991px) {
  .tab-question {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .btn-3 {
    flex-direction: column;
    justify-content: start;
  }
  .btn-3 button {
    display: block;
    width: 100%;
  }
}

.zero-p {
  padding: 8px 5px !important;
}
.questionaire-form label {
  font-size: 80%;
}
.table-questionaire {
  font-size: 80%;
}

.tab-question {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.tab-question li {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 0.3rem;
}
.tab-question li a {
  text-decoration: none;

  color: white;
}
.tab-question a:hover {
  background-color: rgb(238, 238, 238);
  color: black;
}
.tooltiplink + .tooltip > .tooltip-inner {
  background-color: #73ad21;
  color: #ffffff;
  border: 1px solid green;
  padding: 15px;
  font-size: 20px;
}
.tooltip-inner {
  min-width: 300px;
}
/* Tooltip on top */
.tooltiplink + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid green;
}

/* Tooltip on bottom */
.tooltiplink + .tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid blue;
}

/* Tooltip on left */
.tooltiplink + .tooltip.left > .tooltip-arrow {
  border-left: 5px solid red;
}

/* Tooltip on right */
.tooltiplink + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}
.rounded_div {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #bfbfbf;
  border-radius: 5px;
  padding: 0 10px;
}
label {
  font-weight: normal !important;
}
/* style*/

.arrow_success {
  position: relative;
  color: #fff;
  font-weight: bold;
  width: 24%;
  text-align: center;
  margin: 0.5%;
}
.red-gradient_success {
  width: 100%;
  color: #fff;
  background: #9fd45b; /* Old browsers */
}

.arrow {
  position: relative;
  color: #fff;
  font-weight: bold;
  width: 24%;
  text-align: center;
  margin: 0.5%;
}
.red-gradient {
  width: 100%;
  color: #ec8c0e;
  background: #fff;
}

.arrow1:after {
  z-index: 9999;
  right: -12px;
  border-top: 26px solid transparent;
  border-left: 15px solid #ec8c0e;
  border-bottom: 26px solid transparent;
  position: absolute;
  content: "";
  top: -5px;
}

.nav-tabs > li.active > a {
  background-color: #ec8c0e !important;
  color: #fff !important;
  border-left: 16px solid #ec8c0e;
}

.oi_header {
  background: #f5f5f5;
  box-shadow: inset 0 1px 10px 1px rgba(0, 0, 0, 0.41);
}
.other_title {
  background: none;
  text-align: center;
  font-size: 40px;
  color: #000;
  bottom: 30px;
}
.account_info {
  border: 3px solid #000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.another {
  border: 3px solid #ec8c0e;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.sage_border {
  border: 3px solid #83c72a;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.btn-previous {
  color: #fff;
  background-color: #808080;
  border-color: #808080;
}
.btn-previous:hover {
  color: #fff;
  background-color: #5b5b5b;
  border-color: #5b5b5b;
}
.lbl_error {
  font-size: 11px;
  right: 0;
  height: 35px;
  line-height: 25px;
  background-color: #e34f4f;
  color: #fff;
  font-weight: 400;
  padding: 5px 6px;
  margin-top: 8px;
  border-radius: 4px;
}
.err_btn {
  height: 25px;
  font-size: 10px;
}
.reset_onchange {
  width: 200px !important;
}

/* Edit Solution */

.edit-solution {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #bfbfbf;
  border-radius: 5px;
}
.badge-solution {
  width: 100%;
  background: rgb(204, 204, 204);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  line-height: 1;
  display: block;
  padding: 0.5rem;
  font-size: 26px;
  height: 45px;
}
/* .edit-solution .form-group {
  margin-right: 0.6rem;
} */

.overview label {
  font-size: 18px;
}
.pad-0 {
  padding: 0;
}
@media only screen and (max-width: 785px) {
  .overview label {
    font-size: 12px;
  }
}

/* Supplier & Partner */
.ul-partner {
  font-size: 85%;
  padding-right: 3rem;
}
@media only screen and (max-width: 771px) {
  .ul-partner {
    padding-right: 0.5rem;
  }
}
/* Payment */

.payment {
  font-size: 80%;
}
.payment label {
  color: #474747;
}
.dollar {
  color: #ec8c0e;
  display: block;
  margin-top: 0.4rem;
  margin-right: 0.5rem;
}
.dollar-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
/* Profile */

.profile {
  padding: 20px 20px;
}
.profile .form-group {
  margin-right: 0.6rem;
}
.password-wrapper {
  position: relative;
}
.eye {
  position: absolute;
  top: 2.3rem;
  right: 0rem;
}
.icon-wrapper {
  display: flex;
  align-items: center;
}
.icon-size {
  font-size: 35px;
  height: 40px;
  color: #ec8c0e;
}
.icon {
  margin: 0 0 0 0.5rem;
}

.pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 17px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* About  */
.inclusive {
  padding: 1rem;
}
.infocard {
  max-width: 500px;

  position: absolute;

  font-size: 13px;

  background: #faf9f8;

  /* width: 300px; */

  margin-top: 0.6rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: none;
}

.infocard > p {
  font-size: 13px;
}
.newsform {
  width: 100%;
  height: 50px;
  border-radius: 30px 0 0 30px;
  border: none;
  font-family: Roboto;
}

.submit {
  float: left;
  width: 65px;
}

.submit > a {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0 30px 30px 0;
  height: 50px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  padding: 0 !important;
}

.email {
  float: left;
  width: calc(100% - 65px);
}

.social-account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-account a {
  display: block;
}

/* Home */
.w-100 {
  width: 100% !important;
  height: 100vh !important;
}

.home .carousel-caption {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 60%;
}
.home .carousel-item {
  height: auto;
}
.home .bag div,
.partner .bag div {
  background-color: white;
  border-radius: 10px;
  padding: 0.6rem;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .bag div p,
.partner .bag div p {
  color: black;
}
@media only screen and (max-width: 600px) {
  .home .carousel-caption {
    width: 100%;
    padding: 0.8rem;
  }
  .home .carousel-caption p {
    font-size: 60%;
  }
}
@media only screen and (max-width: 766px) {
  .partner .bag div,
  .home .bag div {
    display: flow-root;
    margin-bottom: 0.5rem;
  }
}

.newsform {
  width: 100%;
  height: 50px;
  border-radius: 30px 0 0 30px;
  border: none;
  font-family: Roboto;
}

.font13 {
  font-size: 13px !important;
}

.submit {
  float: left;
  width: 65px;
}

.submit > a {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0 30px 30px 0;
  height: 50px;
  color: #fff;
  line-height: 48px;
  text-align: center;
}

.email {
  float: left;
  width: calc(100% - 65px);
}

.infocard {
  max-width: 500px;
  position: absolute;
  font-size: 13px;
  display: none;
  z-index: 9999;
  padding: 0;
}

.infocard::after {
  top: -10px;
  left: 150px;
  border-color: #666 transparent;
  border-width: 0 10px 10px;
}

.inforcard-body {
  background: #fff;
  display: block;
  position: relative;
  font-size: 13px;
  color: #000;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}

.inforcard-body p {
  font-size: 13px;
  color: #000;
  text-align: left;
}

.inforcard-header {
  position: relative;
  display: block;
  text-align: center;
  background: transparent;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #fff;
  margin: auto;
}

.carousel-item {
  height: 80vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white {
  color: white;
}

.inline {
  display: inline;
}
.inline-link {
  display: inline-block;
  font-size: "18px";
  padding: 0 5px;
}

.center {
  text-align: center;
}

.home-icon {
  font-size: 40px;
  color: #e39836;
}

.circle-center {
  font-size: 40px;
}
/* Manage delagate */

.manage-delegate {
  max-width: 1200px;
}
.manage-delegate .rounded_div {
  padding: 10px 20px;
}

/* smb_subscription */
.tooltiplink + .tooltip > .tooltip-inner {
  background-color: #73ad21;
  color: #ffffff;
  border: 1px solid green;
  padding: 15px;
  font-size: 20px;
}
.panel-collapse {
  border: none !important;
}
.tooltip-inner {
  min-width: 300px;
}
/* Tooltip on top */
.tooltiplink + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid green;
}

/* Tooltip on bottom */
.tooltiplink + .tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid blue;
}

/* Tooltip on left */
.tooltiplink + .tooltip.left > .tooltip-arrow {
  border-left: 5px solid red;
}

/* Tooltip on right */
.tooltiplink + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}
.custom-button {
  padding: 12px 25px 8px 25px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.custom-button.orange {
  color: #eb8b10;
  border: 3px solid #eb8b10;
}
.custom-button.green {
  color: #84c72a;
  border: 3px solid #84c72a;
}
.stripe_btn {
  color: #708299;
  background-color: #eaf1f8;
  font-weight: bold;
}
.stripe_btn:hover {
  color: #708299;
  background-color: #eaf1f8;
  font-weight: bold;
}
.rounded_div {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #bfbfbf;
  border-radius: 5px;
}
label {
  font-weight: normal !important;
}
.preferd {
  font-size: 18px !important;
}
.note {
  border-radius: 5px;
  color: #eb8b10;
  border: 3px solid #ec8b0e;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
}
.c_names {
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid #dca7a7;
  color: #010101;
}
.main_image {
  height: 100px;
  margin: 0 15px 30px 0;
}
.price {
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 2em;
  color: #010101;
}
.details {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  color: #010101;
  line-height: 1.4;
}
.trust_pilot {
  max-width: 150px;
  margin: 5px 0 0 0;
}
.what {
  min-height: 170px;
}
.space {
  padding: 15px;
  margin-bottom: 15px;
}
.more_info {
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.certified {
  box-sizing: border-box;
  margin-top: 70px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 15px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* range slider starts */
.range-control {
  padding: 3px;
}
.repeatrow {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
input[type="range"] {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  position: relative;
  height: 12px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background-color: #e2e2e2;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  -webkit-appearance: none;
  background-color: #fff;
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  cursor: pointer;
}

output {
  position: absolute;
  min-width: 10px;
  background-color: #fff;
  border-radius: 7px;
  color: #777;
  font-size: 0.8em;
  text-align: center;
}

input[type="range"]:active + output {
  display: block;
  transform: translateX(-50%);
}

output:after {
  position: absolute;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
.range-control h6 {
  margin-top: 30px;
}
.hide_e {
  display: none !important;
}
/* range slider ends */

/*Range color slider start*/
.lft-wht {
  padding-right: 0;
}
input[type="range"] {
  -webkit-appearance: none;
  background-color: #ddd;
  height: 15px;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 15px;
  position: relative;
  top: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #eee;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px #83c72a;
  cursor: pointer;
  height: 14px;
  width: 14px;
  border: solid 1px #ccc;
  position: relative;
  top: 0;
}

input[type="range"]::-moz-range-thumb {
  background: #eee;
  border-radius: 50%;
  box-shadow: -1010px 0 0 1000px #83c72a;
  cursor: pointer;
  height: 14px;
  width: 14px;
  border: solid 1px #ccc;
  position: relative;
  top: 0;
}

input[type="range"]::-moz-range-track {
  background-color: #ddd;
}
input[type="range"]::-moz-range-progress {
  background-color: #83c72a;
  height: 15px;
}
input[type="range"]::-ms-fill-upper {
  background-color: #ddd;
}
input[type="range"]::-ms-fill-lower {
  background-color: #83c72a;
  width: 100%;
}
.mainsearchdiv2 {
  margin-top: 40px;
}

/* footer */
.footer-icon {
  /* margin-left: -7px; */
  display: inline-block;
  /* margin-top: -2px; */
  font-size: 23px;
  color: #000;
}

.align {
  display: flex;
  align-items: center;
}

.footer-label {
  font-size: 30px;
  height: 100%;
  display: block;
  margin-right: 8px;
}

.forgot-password {
  justify-content: center;
}

/* Faqs */

.faqs-page .card-header {
  padding: 0 !important;
}

.icon {
  margin-left: 0.5rem !important;
}
.faqs-page .card-header .btn {
  height: auto;
  white-space: initial;
  text-align: left;
}

/* .text {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
} */

.text-m {
  margin-top: 2rem;
}

/* Invoice */
.invoice {
  color: "#565a5c";
}
.left-cell {
  width: 70%;
}
.text-right {
  text-align: right;
}

.right-cell {
  width: 30%;
}

.invoice thead tr th,
.calc {
  font-size: 25px;
  font-weight: 500 !important;
}
.calc {
  font-size: 22px;
  color: #565a5c;
}
.invoice .table-bordered td {
  border: none;
}

.cell-border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.invoice-header,
.ist-table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 771px) {
  .ist-table {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
}
.ist-table {
  margin-bottom: 2rem;
}

.invoice-header .invoice-heading {
  font-size: 30px;
  color: #141414;
}

.cell-border-right {
  border: none !important;
  border-right: 1px solid #dee2e6 !important;
}
.ist-table .table-1 tbody td,
.sec-2 .table-2 tbody td {
  padding: 0.5rem;
  font-weight: 500;
  color: #565a5c;
}
.cell-border-top {
  border-top: 1px solid #dee2e6 !important;
}





.edit-solution  .form_title {
  position: relative;
  padding-left: 55px;
  margin-bottom: 10px;
}

.edit-solution .form_title h3 strong {
  background-color: #EC8C0E;
  width: 40px;
  height: 40px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

.edit-solution .form_title h3{
  margin:0;
  padding:0
}

.edit-solution .form-control {
  font-size: 12px;
  color: #333;
  border-radius: 3px;
}