header {
    width: 100%;
    padding: 0;
    background-color: #fff;
    z-index: 99999;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.41);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.41);
    position: fixed;
    left: 0;
    top: 0;
}
#close_in,
#header_menu,
.cmn-toggle-switch {
    display: none;
}

#logo {
    margin-top: 10px;
}
.login-after-main-menu {
    position: relative;
    z-index: 9;
    width: auto;
    /* float: right; */
    font-weight: 500;
}

.login-after-main-menu ul,
.login-after-main-menu ul li,
.login-after-main-menu ul li a {
    position: relative;
    margin: 0;
    padding: 0;
}


.login-after-main-menu ul li a {
    display: block;
    line-height: 20px;
    padding: 10px;
}
.login-after-main-menu > ul > li > a {
    color: #333;
    padding: 0 12px 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

.login-after-main-menu a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

nav {
    margin-top: 20px;
}

@media only screen and (min-width: 992px) {
    .login-after-main-menu {
        width: auto;
    }
    .login-after-main-menu ul li {
        display: inline-block;
    }
    .login-after-main-menu a {
        white-space: nowrap;
    }
    .login-after-main-menu ul .menu-wrapper,
    .login-after-main-menu ul ul {
        position: absolute;
        border-top: 2px solid #002e5b;
        display: none;
        z-index: 1;
        height: auto;
        left: 3px;
        top: 100%;
        margin: 0;
        padding: 0;
        background: #fff;
        min-width: 170px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    .login-after-main-menu ul ul li {
        display: block;
        height: auto;
        padding: 0;
    }
    .login-after-main-menu ul li:hover > .menu-wrapper,
    .login-after-main-menu ul li:hover > ul {
        display: block;
        padding: 0;
    }
    .login-after-main-menu ul ul li a {
        font-size: 13px;
        color: #666;
        border-bottom: 1px solid #ededed;
        display: block;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .login-after-main-menu {
        overflow: auto;
        left: -100%;
        bottom: 0;
        width: 55%;
        height: 100%;
        opacity: 0;
        position: fixed;
        background-color: #fff;
        -webkit-transition: left 0.8s, opacity 0.5s;
        -moz-transition: left 0.8s, opacity 0.5s;
        transition: left 0.8s, opacity 0.5s;
        z-index: 9999;
        -webkit-box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.55);
        -moz-box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.55);
        box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.55);
    }
    .login-after-main-menu.show {
        visibility: visible;
        left: 0;
        opacity: 1;
    }
    #header_menu,
    .login-after-main-menu li {
        position: relative;
    }
    #header_menu {
        text-align: center;
        padding: 25px 15px 10px;
        display: block;
    }
    .login-after-main-menu a,
    .login-after-main-menu li {
        display: block;
        color: #333 !important;
    }
    .login-after-main-menu a,
    .login-after-main-menu li {
        display: block;
        color: #333 !important;
    }
    .login-after-main-menu ul > li {
        padding-bottom: 0;
    }
    .login-after-main-menu ul li {
        border-top: none;
        border-bottom: 1px solid #ededed;
        color: #fff;
    }
    #logo {
        margin-top: 5px;
    }
    .cmn-toggle-switch {
        display: block;
        overflow: visible;
        position: absolute;
        top: -65px;
        right: 20px;
        font-size: 40px;
    }
    .login-after-main-menu ul li a {
        padding: 10px 15px !important;
    }
    nav {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 480px) {
    .login-after-main-menu {
        width: 100%;
    }
    a#close_in {
        display: block;
        position: absolute;
        right: 50px;
        top: 10px;
        width: 20px;
        height: 20px;
    }
}
.input-group-addon {
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
