*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;

}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: taile;
  src: url('/assets/admin/fonts/taile_0.ttf');
}

@font-face {
  font-family: taileb;
  src: url('/assets/admin/fonts/taileb_0.ttf');
}

@font-face {
  font-family: tcb;
  src: url('/assets/admin/fonts/tcb.ttf');
}


h1,h2,h3,h4,h5,h6{
	font-family: sans-serif;
}

body{
  height: 100vh;
}

/*colors*/

.text-primary {
  color: #4d7bd1 !important;
}

.bg-primary{
  background-color: #4d7bd1 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #4d7bd1 !important;
}

.text-secondary {
  color: #514f4f !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #514f4f !important;
}

.text-success {
  color: #398e3d !important;
}

a.text-success:hover, a.text-success:focus {
  color: #398e3d !important;
}
/*colors end*/

.h100{
  height: 100vh;
}


ul.infoul{
  list-style: none;
  display: flex;
}

ul.infoul > li{
  font-weight: bold;
}

.br50{
  border-radius: 50px;
}

.h40{
  height: 40px;
}

ul.sidebarul{
  list-style: none;
}

ul.sidebarul > li{
  border:1px solid white;
}

ul.sidebarul > li:hover{
  background-color: #4d7bd1;
}

ul.sidebarul > li >a{
  color: white;
  text-decoration: none;
}

.hidee{
  display: none;
}

.showw{
  display: block;
}

.inputline {
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid #398e3d;
}