
/********** RESPONSIVE DESIGN *********/

@media only screen and (min-width:992px) and (max-width:1199px){


}
@media only screen and (max-width:1023px){
	
}
@media only screen and (min-width:992px) and (max-width:1199px){
	.slider-main .main-header .main-menu li a {
		font-size: 14px;
	}
	.slider-main .main-header .main-menu li .btn.btn-primary {
		padding: 6px 10px !important;
	}
}
@media only screen and (max-width:991px){

	.slider-main .main-header .menu-col {
		text-align: right;
		padding: 0px 15px 0 0;
	}

	.slider-main .main-header .mobile-menu {
		min-height: 30px;
		display: inline-block;
		vertical-align: top;
		padding-top: 15px;
		margin: 5px 5px 0 0;
		cursor: pointer;
	}
	.slider-main .main-header .mobile-menu .toggle-btn {
		width: 30px;
		height: 1px;
		background-color: #fff;
		display: block;
		position: relative;
	}
	.slider-main .main-header .mobile-menu .toggle-btn::after {
		content: "";
		position: absolute;
		top: 10px;
		left: 0;
		width: 30px;
		height: 1px;
		background-color: #fff;
	}
	.slider-main .main-header .mobile-menu .toggle-btn::before {
		content: "";
		position: absolute;
		top: -10px;
		left: 0;
		width: 30px;
		height: 1px;
		background-color: #fff;
	}

	.slider-main .main-header .main-menu {
		display: none;
		position: absolute;
		background-color: #fff;
		width: 100% !important;
		left: 0;
		top: 62px;
		text-align: left;
		padding: 5px 0 10px 0;
		box-shadow: 0 5px 10px 3px rgba(0,0,0,0.3);
		z-index:999;
	}
	.slider-main .main-header .main-menu li {
		display: block;
	}
	.slider-main .main-header .main-menu li a {
		padding: 10px 15px;
		color: #111;
		font-weight: 500;
		display: block;
	}
	.slider-main .main-header .main-menu li a:hover {
		color: #e39836;
	}
	.slider-main .main-header .main-menu li .btn.btn-primary {
		display: inline-block;
		width: 48%;
		margin: 6px 10px;
		color:#fff;
	}
	.slider-main .main-header .main-menu li .btn.btn-primary:hover {
		color:#e39836;
	}
	
	#google_translate_element{
		margin: 6px 10px;
	}
	.slider-main .main-header .main-menu li .btn.search-btn{
		margin: 6px 10px;
	}
	.slider-main .main-header .search-bar .search-field {
		top: 62px;
		right: 0;
		padding: 10px 10px 0px 10px;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media only screen and (min-width:768px) and (max-width:991px){
	.pb-col-md-2 {
		width: 33% !important;
		float: left;
	}

	.slider-main .slider-section-main .slider-text {
		left: 0%;
		width: 100%;
	}
	.slider-main .slider-section-main .slider-text p {
		margin: 0 auto 10px auto;
		font-size: 16px;
	}
	.slider-main .slider-section-main .slider-text p:last-child {
		margin-bottom: 30px;
	}
	.pb-section.mobile-app {
		padding: 30px 0;
	}
	.pb-content-section p {
		width: 100%;
	}
	.pb-testimonial .home-testimonial {
		width: 80%;
	}
	

}


@media only screen and (max-width:767px){

	.pb-col-12 {
		width: 50%;
		float: left;
	}

	.pbh-1 {
		font-size: 26px !important;
	}
	.pbh-2 {
		font-size: 22px !important;
	}
	.pbh-3 {
		font-size: 22px !important;
	}

	.slider-main .main-header {

		padding: 10px 0;
	}
	.slider-main .slider-section-main .slider-text {
		top: 44%;
		left: 2%;
		width: 96%;
	}
	.slider-section-main .pbh-2 {
		font-size: 17px !important;
	}
	.slider-section-main .banner-descrition {
		display: none;
	}
	.slider-section-main .btn {
		padding: 8px 10px;
		height: 40px;
		line-height: 20px;
		font-size: 13px;
	}
	.pb-section.mobile-app {
		padding: 30px 0;
	}
	.pb-section.mobile-app .playstore-applestore {
		text-align: center;
	}
	.pb-content-section p {
		width: 100%;
		font-size: 16px;
	}
	.pb-testimonial .home-testimonial {
		width: 90%;
	}
	.testimonial-box h3 {
		font-size: 22px !important;
	}
	.testimonial-box p {
		font-size: 16px !important;
	}


	.pb-exciting-news .pbh-2 {
		text-align: center !important;
	}
	.pb-exciting-news p {
		text-align: center !important;
	}
	.pb-exciting-news .pb-btn-box {
		text-align: center;
		padding-top: 30px;
	}

	

     .pb-how-work .arrow-col .pc-icon-box::before {
		display: none;
	}
	.pb-how-work .arrow-col .pc-icon-box::before {
		display: none;
	}
	.pb-how-work .arrow-col2 .pc-icon-box::before {
		display: none;
	}
	.gray-bg.pb-how-work .award-box {
		min-height: auto;
		padding: 35px 25px 25px 25px;
	}

	.newsletter-section .pbh-2 {
		margin: 0px 0 20px 0;
		text-align: center !important;
	}

	.footer-main .footer-top .foot-heading {
		margin: 20px 0 15px 0 !important;
	}
	.footer-main .footer-top {
		padding: 20px 0 40px 0;
	}
	.footer-main .footer-top .info-bar {
		font-size: 14px;
	}
	.footer-main .footer-bottom {
		text-align: center !important;
	}
	.footer-main .footer-bottom .footer-menu {
		text-align: center !important;
	}

	

}
@media only screen and (min-width:576px) and (max-width:767px){
	.pb-video .video-overlay .video-icon {
		left: 41%;
	}
	.pb-testimonial .home-testimonial .owl-nav .owl-prev {
		left: -55px;
	}
	.pb-testimonial .home-testimonial .owl-nav .owl-next {
		right: -55px;
	}




}



@media only screen and (max-width:575px){
	.pb-col-12 {
		width: 100%;
	}

	.slider-main .main-header .logo {
		width: 150px;
	}
	.why-protect-box .pb-block {
		min-height: auto;
	}
	.pb-testimonial .home-testimonial .owl-nav .owl-prev {
		left: -30px;
	}
	.pb-testimonial .home-testimonial .owl-nav .owl-next {
		right: -30px;
	}
	.pb-video .video-overlay .video-icon {
		left: 36%;
	}



}

@media only screen and (max-width:359px){



}


@media only screen and (min-width:991px){

	.slider-main .main-header .mobile-menu {
		display: none;
	}
}

@media only screen and (min-width:768px){
	.pb-col-md-2 {
		width: 20%;
		float: left;
	}
	.pbj-col-md-1{
		width: 14%;
		float: left;
	}
	.pbj-col-md-3{
		width: 43%;
		float: left;
	}

	

}

@media only screen and (min-width:576px){


}

