

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Roboto";
	color: #0f0f0e
}
.font13{
	font-size:13px !important;
	}
.pbh-1 {
	font-family: "Roboto";
	color: #0f0f0e;
	font-size: 42px;
	text-align: center !important;
	margin-bottom: 30px
}

.pbh-2 {
	font-family: "Roboto";
	color: #0f0f0e;
	font-size: 25px;
    text-align: center !important;
    margin-bottom: 25px;
}

.pbh-3 {
	font-family: "Roboto";
    color: #0f0f0e;
    text-align: center !important;
	font-size: 30px;
	margin-bottom: 25px;
}

.pbh-4 {
	font-family: "Roboto";
    color: #0f0f0e;
    text-align: center !important;
	font-size: 24px
}

p {
	font-family: "Roboto";
	color: #171715;
	font-size: 18px;
	line-height: 24px;
}

a {
	font-family: "Roboto";
	color: #e39836;
	font-size: 16px
}

.white-color {
	color: #fff !important
}

.pb-btn-box {
	text-align: center;
	padding: 40px 0 20px 0
}

.btn {
	color: #fff;
	border-radius: 50px;
	padding: 8px 20px;
	height: 50px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase
}

.btn-primary {
	background-color: #e39836;
	border: 2px solid #e39836
}

.btn-primary:hover {
	background-color: transparent;
	border: 2px solid #e39836;
	color: #e39836
}

.btn-secondary {
	background-color: #84c62b;
	border: 2px solid #84c62b;
}

.btn-secondary:hover {
	background-color: transparent;
	border: 2px solid #84c62b;
	color: #84c62b;
}

.btn-white {
	background-color: #fff;
	border: 2px solid #fff;
	color:#84c62b;
}
.btn-white:hover {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}

.pb-section {
	padding: 14px 0
}

.theme-bg {
	background-color: #e39836
}

.theme-bg2 {
	background-color: #84c62b
}

.gray-bg {
	background-color: #f8f5f1
}

.dark-bg {
	background-color: #1e1b18
}

.dark-bg2 {
	background-color: #181614
}

.award-box {
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
	text-align: center
}

.gray-box {
	background-color: #f8f5f1;
	border-radius: 10px;
	padding: 20px 20px;
	margin-bottom: 15px;
}

.pb-row {
	display: block;
	width: 100%
}


.margin_60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.margin_60_35 {
  padding-top: 60px;
  padding-bottom: 35px;
}

.margin_30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*** contact us ***/

#sub_header {
  height: 150px;
  background: url(../img/sub_header.jpg) center center no-repeat #ddd;
  color: #fff;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

#sub_header .container {
  position: relative;
  height: 100%;
}

#sub_header h1 {
  color: #fff;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

#sub_header h1:before {
  content: url(../img/bolt_yellow.svg);
  margin-right: 5px;
}

#sub_header .main_title p {
  margin-bottom: 15px;
  font-size: 14px;
}

.main_title {
  background-color: rgba(0,37,74,.8);
  display: inline-block;
  padding: 15px 15px 0;
  position: absolute;
  margin-left: 15px;
  left: 0;
  bottom: 0;
  z-index: 9;
}

main {
    background: #fff;
    position: relative;
    z-index: 1;
}

.btn-contact-submit{
    background:#83c627 !important;
    border-radius: 5px;
}

.btn-contact-submit:hover{
    background: #6ca71b !important;
}

/******************/

/***    faq     ***/

.faq-title{
    height: 150px;
    padding-top: 50px;
}

.faq-row{
    margin: auto;
}

/******************/

/***  login     ***/

.btn-login-submit{
    background:#83c627 !important;
    border-radius: 5px;
}

.btn-login-submit:hover{
    background: #6ca71b !important;
}

/******************/

/*** register ****/
.btn-register-submit{
    background:#83c627 !important;
    border-radius: 5px;
}

.btn-register-submit:hover{
    background: #6ca71b !important;
}
/******************/

/**** home *****/
.owl-use-cases{
    display:flex;
}

.owl-use-cases .item{
    flex: 1 1 0;
    width:0;
}

/***************/

.footer-main .footer-top {
	background-color: #1e1b18;
	padding: 50px 0
}

.footer-main .footer-top .foot-heading {
	color: #fff;
	font-size: 24px
}

.footer-main .footer-top .info-bar {
	color: #fff;
	position: relative;
    padding-left: 30px;
    font-size: 15px;
}
.footer-main .footer-top .info-bar i {
	color: #fff;
	margin-right: 15px;
	position: absolute;
	left: 0;
	top: 0;
}

.footer-main .footer-top .social-contact {
	margin-bottom: 40px
}

.footer-main .footer-top .social-contact .social {
	padding: 0;
	margin: 0;
	list-style-type: none
}

.footer-main .footer-top .social-contact .social li {
	display: inline-block
}

.footer-main .footer-top .social-contact .social li a {
	background-color: #fff;
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 5px;
	text-align: center;
	line-height: 34px;
	margin-right: 5px;
	text-decoration: none;
}

.footer-main .footer-top .social-contact .social li a i {
	color: #1e1b18
}

.footer-main .footer-top .social-contact .social li a i:before {
	margin: 0
}

.footer-main .footer-top .playstores img {
	width: 160px
}

.footer-main .footer-top .payment-method {
	padding-top: 30px
}

.footer-main .footer-top .payment-method .foot-heading {
	padding-bottom: 15px
}

.footer-main .footer-top .payment-method img {
	width: 130px
}

.footer-main .footer-top .payment-method img:last-child {
	width: 75px;
	margin-left: 20px
}

.footer-main .footer-bottom {
	background-color: #181614;
	padding: 15px 0 10px 0
}

.footer-main .footer-bottom p {
	color: #fff;
	font-size: 15px
}

.footer-main .footer-bottom .footer-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right
}

.footer-main .footer-bottom .footer-menu li {
	display: inline-block;
	margin-right: 10px
}

.footer-main .footer-bottom .footer-menu li a {
	font-size: 15px;
	color: #fff;
}

.footer-main .footer-bottom .footer-menu li a:hover {
	text-decoration: none;
	color: #e39836
}

#back-top {
	position: fixed;
	bottom: 25px;
	right: 30px
}

#back-top a {
	display: block;
	width: 40px;
	height: 40px;
	background-color: #e39836;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	line-height: 40px;
	font-size: 20px
}

.pb-form .form-control {
	border-radius: 50px;
	height: 50px;
	font-family: Roboto
}

.slider-main {
	display: block;
	width: 100%;
	position: relative;
	padding: 0
}

.slider-main .main-header {
	background-color: #181614;
	/*position: absolute;*/
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 20px 0
}

.slider-main .main-header .menu-col {
    position: static;
    padding: 12px 0;
}

.slider-main .main-header .logo {
	width: 200px;
	overflow: hidden
}
.slider-main .main-header .logo a {
    text-decoration:none;
}
.slider-main .main-header .logo img {
	width: 100%
}
.slider-main .main-header .logo p {
    padding-top: 10px;
    color:#fff;
    font-size: 16px;
}
.slider-main .main-header .main-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
	display: inline-block;
	width: calc(100% - 140px)
}

.slider-main .main-header .main-menu li {
	display: inline-block
}

.slider-main .main-header .main-menu li a {
	padding: 10px;
	color: #fff;
	font-weight: 500
}


.slider-main .main-header .main-menu li a:hover {
	color: #e39836;
	text-decoration: none;
	font-weight: 600
}

.slider-main .main-header .main-menu li .btn.btn-primary {
	padding: 6px 15px !important;
	height: 42px;
	line-height: 25px
}

.slider-main .main-header .main-menu li .btn.search-btn {
	height: 42px;
    width: 42px;
    background-color: #e39836;
    /*display: block;*/
    padding: 6px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 28px;
}

.slider-main .main-header .search-bar {
	display: inline-block;
	width: 45px;
	vertical-align: middle
}

.slider-main .main-header .search-bar a {
    height: 42px;
	width: 42px;
	background-color: #e39836;
	display: block;
	padding: 6px;
	border-radius: 50px;
	color: #fff;
	text-align: center;
	line-height: 28px;
}

.slider-main .main-header .search-bar a:hover {
	text-decoration: none
}

.slider-main .main-header .search-bar .search-field {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	left: 0;
	top: 102px;
	right: 0;
	padding: 20px 150px 5px 150px
}

.slider-main .main-header .search-bar .search-field .form-group.email {
	display: inline-block;
	width: calc(100% - 150px);
	vertical-align: middle
}

.slider-main .main-header .search-bar .search-field .form-group.submit {
	display: inline-block;
	width: 140px;
	vertical-align: middle
}

.slider-main .main-header .search-bar .search-field .form-group.submit a {
	height: 50px;
	line-height: 35px;
    font-size: 18px;
    width:100%;
}

.slider-main .main-header .language-drop {
	display: inline-block;
	width: 70px;
	position: relative
}

.slider-main .main-header .language-drop .btn.language-btn {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 30px;
	width: 70px;
	height: 35px;
	line-height: 24px;
	text-align: left;
	font-family: "Roboto" !important
}

.slider-main .main-header .language-drop .btn.language-btn:after {
	content: "\f120";
	position: absolute;
	font-family: flaticon;
	font-size: 12px;
	right: 10px
}

.slider-main .main-header .language-drop .drop-menu {
	display: none;
	position: absolute;
	background-color: #fff;
	width: 100%;
	border-radius: 6px;
	top: 40px
}

.slider-main .main-header .language-drop .drop-menu a {
	color: #222;
	text-align: left;
	border-radius: 6px
}

.slider-main .slider-section-main .bx-wrapper {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	position: relative
}

.slider-main .slider-section-main .bx-wrapper:after {
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}

.slider-main .slider-section-main .bx-wrapper .bx-pager.bx-default-pager {
	display: none
}

.slider-main .slider-section-main .slider-text {
	position: absolute;
	top: 30%;
	left: 15%;
	text-align: center;
	width: 70%
}

.slider-main .slider-section-main .slider-text .pbh-1 {
	color: #fff;
	line-height: 80px
}

.slider-main .slider-section-main .slider-text p {
	color: #fff;
	width: 80%;
	margin: 0 auto 25px auto
}

.slider-main .slider-section-main .slider-text p:last-child {
	margin-bottom: 60px
}

.pb-section.slider-main {
	display: block;
	width: 100%;
	position: relative;
	padding: 0
}

.pb-section.slider-main .main-header-inn {
	background-color: #fff;
	width: 100%;
	padding: 20px 0
}

.pb-section.slider-main .main-header-inn .menu-col {
    position: static;
    padding: 12px 0;
}

.pb-section.slider-main .main-header-inn .logo {
	width: 200px;
	overflow: hidden
}
.pb-section.slider-main .main-header-inn .logo a {
    text-decoration:none;
}
.pb-section.slider-main .main-header-inn .logo img {
	width: 100%;
}
.pb-section.slider-main .main-header-inn .logo p {
    padding-top: 10px;
    font-size: 16px;
}

.pb-section.slider-main .main-header-inn .main-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
	display: inline-block;
	width: calc(100% - 140px)
}

.pb-section.slider-main .main-header-inn .main-menu li {
	display: inline-block
}

.pb-section.slider-main .main-header-inn .main-menu li a {
	padding: 10px;
	color: #0f0f0e;
	font-weight: 500
}

.pb-section.slider-main .main-header-inn .main-menu li a:hover {
	color: #e39836;
	text-decoration: none;
	font-weight: 600
}

.pb-section.slider-main .main-header-inn .main-menu li .btn.btn-primary {
	padding: 6px 15px !important;
	height: 42px;
	line-height: 25px;
	color: #fff
}

.pb-section.slider-main .main-header-inn .main-menu li .btn.btn-primary:hover {
	color: #e39836
}

.pb-section.slider-main .main-header-inn .search-bar {
	display: inline-block;
	width: 45px;
	vertical-align: middle
}

.pb-section.slider-main .main-header-inn .search-bar a {
    width: 42px;
    height: 42px;
	background-color: #e39836;
	display: block;
	padding: 6px;
	border-radius: 50px;
	color: #fff;
    text-align: center;
    line-height: 28px;
}

.pb-section.slider-main .main-header-inn .search-bar a:hover {
	text-decoration: none
}

.pb-section.slider-main .main-header-inn .search-bar .search-field {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	left: 0;
	top: 102px;
	right: 0;
    padding: 20px 150px 5px 150px;
    z-index: 9;
}

.pb-section.slider-main .main-header-inn .search-bar .search-field .form-group.email {
	display: inline-block;
	width: calc(100% - 150px);
	vertical-align: middle
}

.pb-section.slider-main .main-header-inn .search-bar .search-field .form-group.submit {
	display: inline-block;
	width: 140px;
	vertical-align: middle
}

.pb-section.slider-main .main-header-inn .search-bar .search-field .form-group.submit a {
	height: 50px;
	line-height: 35px;
    font-size: 18px;
    width: 100%;
}

.pb-section.slider-main .main-header-inn .language-drop {
	display: inline-block;
	width: 70px;
	position: relative
}

.pb-section.slider-main .main-header-inn .language-drop .btn.language-btn {
	background-color: transparent;
	border: 1px solid #111;
	color: #111;
	border-radius: 30px;
	width: 70px;
	height: 35px;
	line-height: 24px;
	text-align: left;
	font-family: "Roboto" !important
}

.pb-section.slider-main .main-header-inn .language-drop .btn.language-btn:after {
	content: "\f120";
	position: absolute;
	font-family: flaticon;
	font-size: 12px;
	right: 10px
}

.pb-section.slider-main .main-header-inn .language-drop .drop-menu {
	display: none;
	position: absolute;
	background-color: #fff;
	width: 100%;
	border-radius: 6px;
	top: 40px
}

.pb-section.slider-main .main-header-inn .language-drop .drop-menu a {
	color: #222;
	text-align: left;
	border-radius: 6px
}

.pb-section.slider-main .banner-section-main {
	min-height: 660px;
	background-image: url(../image/s2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat
}

.pb-section.slider-main .banner-section-main .black-overlay {
	padding: 200px 0 50px 0;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 660px
}

.pb-section.slider-main .banner-section-main .black-overlay .banner-text {
	text-align: center;
	padding: 100px 0 0 0
}

.pb-section.slider-main .banner-section-main .black-overlay .banner-text .pbh-1 {
	color: #fff;
	padding-bottom: 40px
}



.pb-fullscreen-video.banner-video .video-icon {
	top: 42%;
}





.pb-section.mobile-app {
	background-color: #e39836
}

.pb-section.mobile-app .pbh-2 {
	color: #fff;
	font-family: Roboto;
	font-size: 25px;
	font-weight: 600
}

.pb-section.mobile-app .playstore-applestore {
	text-align: right
}

.pb-section.mobile-app .playstore-applestore img {
	width: 160px
}

.pb-content-section {
	text-align: center;
	padding: 50px 0
}

.pb-content-section .pbh-1 {
	margin-bottom: 30px
}

.pb-content-section p {
	width: 70%;
	margin: 0 auto 30px auto
}

.pb-home-security {
	padding: 50px 0
}

.pb-home-security .pbh-1 {
	margin-bottom: 40px
}

.pb-section.award-technology-leadership {
	background-image: url(../image/s2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 0
}

.pb-section.award-technology-leadership .black-overlay {
	padding: 50px 0;
	background-color: rgba(0, 0, 0, 0.5)
}

.pb-section.award-technology-leadership .award-box {
	width: 100%;
	margin: 25px 0;
	padding: 10px;
	min-height: 234px;
}

.pb-section.award-technology-leadership .award-box p {
	color: #e39836;
}
.pb-section.award-technology-leadership .award-box a {
	text-decoration:none;
}

.pb-section.award-technology-leadership .award-box .award-box-img {
    height: 110px;
    position: relative;
    vertical-align: middle;
}

.pb-section.award-technology-leadership .award-box .award-box-img img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    min-height: auto;
}

.pb-section.award-technology-leadership .award-box .award-box-title {
    color: #4a8522;
}

.pb-testimonial .home-testimonial {
	width: 60%;
	margin: 30px auto;
}

.pb-testimonial .home-testimonial .owl-nav .owl-prev {
	position: absolute;
	left: -120px;
	top: 30%;
	background-color: #0f0f0e;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	text-align: center;
}

.pb-testimonial .home-testimonial .owl-nav .owl-prev:after {
	content: "\f118";
	position: absolute;
	font-family: flaticon;
	top: 4px;
	left: 7px;
	font-size: 24px;
	color: #fff
}

.pb-testimonial .home-testimonial .owl-nav .owl-next {
	position: absolute;
	right: -120px;
	top: 30%;
	background-color: #0f0f0e;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	text-align: center
}

.pb-testimonial .home-testimonial .owl-nav .owl-next:after {
	content: "\f11a";
	position: absolute;
	font-family: flaticon;
	top: 4px;
	right: 7px;
	font-size: 24px;
	color: #fff
}

.pb-testimonial .home-testimonial .owl-nav span {
	display: none
}

.why-protect-box .pb-block {
	text-align: center;
	min-height: 240px;
	padding: 10px 15px;
	overflow: hidden;
}

.why-protect-box .pb-block i {
	color: #e39836
}

.why-protect-box .pb-block i:before {
	font-size: 52px
}

.pb-cases {
	background-image: url(../image/s3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 0
}

.pb-cases .black-overlay {
	padding: 50px 0;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center
}

.pb-cases p {
	color: #fff
}

.pb-cases .award-box {
	width: 80%;
	margin: 25px auto;
	padding: 25px;
	text-align: center;
	position: relative
}

.pb-cases .award-box img {
	width: 90px !important;
	margin: 0px auto 20px auto;
	display: none;
}

.pb-cases .award-box p {
	color: #0f0f0e
}

.pb-cases .award-box .btn-secondary {
	position: relative
}

.pb-cases .award-box .btn-secondary .case-hover-content {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.1);
	top: 50px;
	left: -100px;
	width: 360px
}

.pb-cases .award-box .btn-secondary .case-hover-content p {
	font-size: 15px;
	white-space: normal;
	text-transform: none
}

.pb-cases .award-box .btn-secondary .case-hover-content:after {
	content: "";
	position: absolute;
	border: 15px solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	top: -15px;
	left: 158px
}

.pb-cases .award-box .btn-secondary .case-hover-content:before {
	content: "";
	position: absolute;
	border: 16px solid transparent;
	border-top: none;
	border-bottom-color: #eee;
	top: -17px;
	left: 157px
}

.pb-cases .award-box .btn-secondary:hover .case-hover-content {
	display: inline-block
}

.pb-cases .home-cases .owl-dot.active span {
	background: #84c62b !important
}

.pb-cases .case-filter {
	width: 200px;
	margin-left: auto;
	margin-right: 35px
}

.pb-cases .cases-award-text {
    height: 130px;
}

.gray-bg.pb-how-work .pc-icon-box {
	text-align: center
}

.gray-bg.pb-how-work .pc-icon-box i {
	color: #e39836;
	display: block;
	width: 75px;
	height: 75px;
	margin: 15px auto;
	border: 2px dashed #dedede;
	border-radius: 100%
}

.gray-bg.pb-how-work .pc-icon-box2 i:before {
	margin: 0;
	font-size: 50px
}

.gray-bg.pb-how-work .pc-icon-box2 {
	text-align: center
}

.gray-bg.pb-how-work .pc-icon-box2 i {
	color: #e39836;
	display: block;
	width: 75px;
	height: 75px;
	margin: 15px auto;
	border: 2px dashed #dedede;
	border-radius: 100%
}

.gray-bg.pb-how-work .pc-icon-box i:before {
	margin: 0;
	font-size: 50px
}

.gray-bg.pb-how-work .award-box {
	min-height:310px;
	padding: 35px 25px 10px 25px;
	position: relative;
	margin-bottom: 25px;
}
.gray-bg.pb-how-work .award-box .inn-icons i::before{
	font-size: 22px;
	margin:5px;
}
.gray-bg.pb-how-work .award-box .box-number {
	font-size: 28px;
	font-weight: 600;
	color: #dedede;
	position: absolute;
	top: 0;
	left: 10px
}

.gray-bg.pb-how-work .arrow-col .pc-icon-box {
	position: relative
}

.gray-bg.pb-how-work .arrow-col .pc-icon-box:after {
	content: "";
	position: absolute;
	background-image: url(../image/icon/arrow.png);
	width: 253px;
	height: 39px;
	top: 20px;
	left: -140px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

.gray-bg.pb-how-work .arrow-col .pc-icon-box:before {
	content: "";
	position: absolute;
	background-image: url(../image/icon/arrow2.png);
	width: 253px;
	height: 39px;
	top: 0;
	right: -140px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

.gray-bg.pb-how-work .arrow-col2 .pc-icon-box {
	position: relative
}

/* .gray-bg.pb-how-work .arrow-col2 .pc-icon-box:after {
	content: "";
	position: absolute;
	background-image: url(../image/icon/arrow3.png);
	width: 253px;
	height: 39px;
	top: 20px;
	left: -140px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
} */

.gray-bg.pb-how-work .arrow-col2 .pc-icon-box:before {
	content: "";
	position: absolute;
	background-image: url(../image/icon/arrow2.png);
	width: 253px;
	height: 39px;
	top: 0;
	right: -140px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

.gray-bg.pb-how-work .arrow-col2 .pc-icon-box2 {
	position: relative
}

.home-different-section .different-img {
	width: 100%;
	min-height: 380px;
	overflow: hidden;
	border-radius: 10px
}

.home-different-section .different-img img {
	width: 100%;
	height: 380px;
	-o-object-fit: cover;
	object-fit: cover
}

.pb-category-section .pbh-1 {
	margin-bottom: 30px
}

.pb-category-section .pb-block {
	text-align: center
}

.pb-category-section .pb-block a {
	font-size: 20px;
	color: #121212
}

.pb-category-section .pb-block a:hover {
	text-decoration: none
}

.pb-category-section .pb-block i {
	color: #e39836
}

.pb-category-section .pb-block i:before {
	font-size: 50px
}

.pb-category-section .home-category .owl-nav .owl-prev {
	position: absolute;
	left: -30px;
	top: 30%;
	background-color: #0f0f0e;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	text-align: center
}

.pb-category-section .home-category .owl-nav .owl-prev:after {
	content: "\f118";
	position: absolute;
	font-family: flaticon;
	top: 4px;
	left: 7px;
	font-size: 24px;
	color: #fff
}

.pb-category-section .home-category .owl-nav .owl-next {
	position: absolute;
	right: -30px;
	top: 30%;
	background-color: #0f0f0e;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	text-align: center
}

.pb-category-section .home-category .owl-nav .owl-next:after {
	content: "\f11a";
	position: absolute;
	font-family: flaticon;
	top: 4px;
	right: 7px;
	font-size: 24px;
	color: #fff
}

.pb-category-section .home-category .owl-nav span {
	display: none
}

.latest-news{
    display:none;
}

.latest-news .pbh-1 {
	margin-bottom: 40px
}

.latest-news .info-box {
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
}

.latest-news .info-box .news-img {
	height: 260px
}

.latest-news .info-box .news-img img {
	width: 100%;
	height: 260px;
	-o-object-fit: cover;
	object-fit: cover
}

.latest-news .info-box .text {
	min-height: 80px;
	text-align: center;
	padding-top: 20px
}

.newsletter-section {
	background-color: #e39836
}

.newsletter-section .pbh-2 {
	color: #fff;
	font-family: Roboto;
	font-size: 26px;
	font-weight: 600;
    text-align: left !important;
    margin: 10px 0;
}

.newsletter-section .newsletter-form .email {
	float: left;
	width: calc(100% - 65px)
}

.newsletter-section .newsletter-form .email .form-control {
	width: 100%;
	height: 50px;
	border-radius: 30px 0 0 30px;
	border: none;
	font-family: Roboto
}

.newsletter-section .newsletter-form .submit {
	float: left;
	width: 65px
}

.newsletter-section .newsletter-form .submit a {
	width: 100%;
	display: block;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 0 30px 30px 0;
	height: 50px;
	color: #fff;
	line-height: 48px;
	text-align: center
}

.newsletter-section .newsletter-form .submit a:hover {
	text-decoration: none
}

.newsletter-section .newsletter-form .submit a i:before {
	font-size: 28px;
	margin: 0
}

.security-everyone .gray-box h4 {
	margin-bottom: 20px
}

.security-everyone .pbh-1 {
	margin-bottom: 40px
}

.pb-video {
	min-height: 400px;
	background-image: url(../image/video-bg.jpg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: cover;
	border-radius: 10px;
	overflow: hidden
}

.pb-video .video-overlay {
	/*background-color: rgba(227, 152, 54, 0.85);*/
	min-height: 400px;
	position: relative;
	background-image: url(../../assets/image/video-overview3.png);
    background-repeat: no-repeat;
}

.pb-video .video-overlay2 {
	/*background-color: rgba(227, 152, 54, 0.85);*/
	min-height: 400px;
	position: relative;
	background-image: url(../../assets/image/video-overview2.png);
    background-repeat: no-repeat;
}

.pb-video .video-overlay .video-icon {
	position: absolute;
	top: 40%;
	left: 40%
}

.pb-video .video-overlay .video-icon .video-btn {
	position: relative;
	z-index: 1;
	height: 100px;
	display: block;
	width: 100px;
	border-radius: 100%
}

.pb-video .video-overlay .video-icon .video-btn:after {
	content: "";
	position: absolute;
	top: 0;
	height: 80px;
	width: 80px;
	line-height: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	-webkit-animation: pulse-border 1500ms ease-out infinite;
	animation: pulse-border 1500ms ease-out infinite;
	pointer-events: none;
	z-index: -1
}

.pb-video .video-overlay .video-icon .video-btn .fa.fa-play {
	background-color: #fff;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0px;
	text-align: center;
	line-height: 100px;
	font-size: 30px
}

.pb-video .video-overlay .video-icon .video-btn .fa.fa-play:hover {
	color: #e39836
}

.pb-video .video-overlay .video-icon .video-btn img {
	width: 100px
}

.pb-video .video-overlay .video-icon .white::after {
	background: #ffffff
}

.pb-video .video-overlay .pbh-2 {
	padding-top: 50px;
}


@-webkit-keyframes pulse-border {
	0% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 1
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0
	}
}

@keyframes pulse-border {
	0% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 1
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0
	}
}

.pb-team-section .team-box .team-img {
	background-color: #d8dad9;
	/*min-height: 170px;*/
	position: relative;
	overflow: hidden;
	height: 215px;
}

.pb-team-section .team-box .team-img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: 0.4s ease-in-out 0s all;
	transition: 0.4s ease-in-out 0s all
}

.pb-team-section .team-box .team-img .social-account {
	position: absolute;
	top: 100%;
	left: 25%;
	-webkit-transition: 0.3s ease-in-out 0s all;
	transition: 0.3s ease-in-out 0s all;
	z-index: 99
}

.pb-team-section .team-box .team-img .social-account a {
	margin: 7px
}

.pb-team-section .team-box .team-img .social-account a:hover {
	text-decoration: none
}

.pb-team-section .team-box .team-img .social-account a i {
	color: #fff
}

.pb-team-section .team-box .team-info {
	text-align: center
}

.pb-team-section .team-box .team-info h2 {
	font-size: 20px
}

.pb-team-section .team-box .team-info h5 {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	height:35px;
}

.pb-team-section .team-box:hover .team-img:after {
	/*background-color: rgba(227, 152, 54, 0.75);*/
	z-index: 9;
	-webkit-transition: 0.4s ease-in-out 0s all;
	transition: 0.4s ease-in-out 0s all
}

.pb-team-section .social-account {
	top: 40%;
	-webkit-transition: 0.3s ease-in-out 0s all;
	transition: 0.3s ease-in-out 0s all
}

.pb-partners-investors {
	background-image: url(../image/s3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	padding: 0
}

.pb-partners-investors .white-overlay {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 50px 0
}

.pb-partners-investors .white-overlay .home-partner .item img {
	width: 170px !important
}

.pb-journey-info .pbj-icon-box {
	text-align: center;
	display: inline-block;
	width: 32%;
	margin-bottom: 10px;
	min-height: 150px;
	vertical-align: middle
}

.pb-journey-info .pbj-icon-box h6 {
	color: #696969
}

.pb-journey-info .pbj-icon-box i,
.pb-journey-info .pbj-icon-box img{
	color: #e39836;
	display: block;
	width: 75px;
	height: 75px;
	margin: 15px auto;
	border: 2px dashed #dedede;
	border-radius: 100%;
	padding: 10px 0px;
}

.pb-journey-info .pbj-icon-box i:before {
	margin: 0;
	font-size: 50px
}

.pb-journey-info .pbj-col-12:first-child .pbj-icon-box {
	width: 100%
}

.pb-journey-info .pbj-col-12:nth-child(3) h4 {
	text-align: right
}

.pb-journey-info .year-bar {
	background-color: #e39836;
	border-radius: 40px;
	padding: 1px 10px;
	color: #fff;
	font-size: 16px;
    margin-right: 10px;
    font-weight:700;
}

.pb-journey-info h4 {
	font-size: 18px
}

.pb-fullscreen-video {
	min-height: 660px;
	background-image: url(../image/video-bg.jpg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: cover;
	overflow: hidden;
	padding: 0
}

.pb-fullscreen-video .video-overlay {
	background-color: rgba(227, 152, 54, 0.85);
	min-height: 660px;
	position: relative;
	padding: 200px 0 50px 0;
}

.pb-fullscreen-video .video-overlay .video-icon {
	position: absolute;
	top: 52%;
	left: 46%
}

.pb-fullscreen-video .video-overlay .video-icon .video-btn {
	position: relative;
	z-index: 1;
	height: 100px;
	display: block;
	width: 100px;
	border-radius: 100%
}

.pb-fullscreen-video .video-overlay .video-icon .video-btn:after {
	content: "";
	position: absolute;
	top: 0;
	height: 80px;
	width: 80px;
	line-height: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	-webkit-animation: pulse-border 1500ms ease-out infinite;
	animation: pulse-border 1500ms ease-out infinite;
	pointer-events: none;
	z-index: -1
}

.pb-fullscreen-video .video-overlay .video-icon .video-btn .fa.fa-play {
	background-color: #fff;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0px;
	text-align: center;
	line-height: 100px;
	font-size: 30px
}

.pb-fullscreen-video .video-overlay .video-icon .video-btn .fa.fa-play:hover {
	color: #e39836
}

.pb-fullscreen-video .video-overlay .video-icon .video-btn img {
	width: 100px
}

.pb-fullscreen-video .video-overlay .video-icon .white::after {
	background: #ffffff
}

.pb-fullscreen-video .video-overlay .pb-btn-box {
	margin-top: 220px
}



.testimonial-box h3 {
	font-size: 26px !important;
	margin-bottom: 25px;
	font-weight: 400;
}
.testimonial-box p {
	font-size: 22px !important;
	margin-bottom: 15px;
    font-weight: 400;
    color: #84c62b;
}
.testimonial-box p a{
	font-size: 22px !important;
}

.pb-exciting-news{
	padding: 40px 0;
}

.pb-exciting-news .pbh-2 {
	text-align: left !important;
	color: #fff;
	font-size: 30px;
}
.pb-exciting-news p {
	text-align: left !important;
	color: #fff;
}
.pb-exciting-news .pb-btn-box {
	text-align: right;
	padding-top: 60px;
}
.pb-exciting-news .owl-dot.active span{
	background:#fff !important;

}

.social-account{
    text-align:center;
}

.social-account a{
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    margin: 0 5px;
    text-decoration: none;
}


@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.goog-te-banner-frame{
	display:none !important;
}
.goog-te-gadget-icon{
	display:none !important;
}
#google_translate_element .goog-te-gadget-simple{
    padding:5px 0;
}
.slider-main .main-header .main-menu li a.goog-te-menu-value{
    color:#e39836;   
}
.zz{
	display:block !important;
}

.pb-section.why-protect-box .img-icons {
	width: 58px;
	margin: 10px 0;
}

