	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/09/2020 07:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-envelope:before { content: "\f100"; }
.flaticon-envelope-1:before { content: "\f101"; }
.flaticon-call:before { content: "\f102"; }
.flaticon-phone-call:before { content: "\f103"; }
.flaticon-pin:before { content: "\f104"; }
.flaticon-pin-1:before { content: "\f105"; }
.flaticon-chat:before { content: "\f106"; }
.flaticon-chat-1:before { content: "\f107"; }
.flaticon-facebook:before { content: "\f108"; }
.flaticon-facebook-1:before { content: "\f109"; }
.flaticon-instagram:before { content: "\f10a"; }
.flaticon-instagram-1:before { content: "\f10b"; }
.flaticon-twitter:before { content: "\f10c"; }
.flaticon-twitter-1:before { content: "\f10d"; }
.flaticon-linkedin:before { content: "\f10e"; }
.flaticon-linkedin-1:before { content: "\f10f"; }
.flaticon-google-plus:before { content: "\f110"; }
.flaticon-google-plus-symbol:before { content: "\f111"; }
.flaticon-pinterest:before { content: "\f112"; }
.flaticon-pinterest-1:before { content: "\f113"; }
.flaticon-whatsapp:before { content: "\f114"; }
.flaticon-whatsapp-1:before { content: "\f115"; }
.flaticon-copyright:before { content: "\f116"; }
.flaticon-rupee-indian:before { content: "\f117"; }
.flaticon-left-arrow:before { content: "\f118"; }
.flaticon-left-arrow-1:before { content: "\f119"; }
.flaticon-next:before { content: "\f11a"; }
.flaticon-left-arrow-2:before { content: "\f11b"; }
.flaticon-right-arrow:before { content: "\f11c"; }
.flaticon-right-arrow-1:before { content: "\f11d"; }
.flaticon-play-arrow:before { content: "\f11e"; }
.flaticon-right-arrow-2:before { content: "\f11f"; }
.flaticon-down-arrow:before { content: "\f120"; }
.flaticon-down-arrow-1:before { content: "\f121"; }
.flaticon-lamp:before { content: "\f122"; }
.flaticon-lamp-1:before { content: "\f123"; }
.flaticon-smile:before { content: "\f124"; }
.flaticon-smiley:before { content: "\f125"; }
.flaticon-edit:before { content: "\f126"; }
.flaticon-mail:before { content: "\f127"; }
.flaticon-credit-card:before { content: "\f128"; }
.flaticon-coffee-cup:before { content: "\f129"; }
.flaticon-puzzle:before { content: "\f12a"; }
.flaticon-loupe:before { content: "\f12b"; }
.flaticon-add-user:before { content: "\f12c"; }
.flaticon-smartphone:before { content: "\f12d"; }
.flaticon-sport-team:before { content: "\f12e"; }
.flaticon-files:before { content: "\f12f"; }
.flaticon-sprout:before { content: "\f130"; }
.flaticon-user:before { content: "\f131"; }
.flaticon-faq:before { content: "\f132"; }
.flaticon-medal:before { content: "\f133"; }
.flaticon-independence:before { content: "\f134"; }
.flaticon-free:before { content: "\f135"; }
.flaticon-help:before { content: "\f136"; }
.flaticon-robotic:before { content: "\f137"; }
.flaticon-process:before { content: "\f138"; }
.flaticon-handshake:before { content: "\f139"; }
.flaticon-achievement:before { content: "\f13a"; }
.flaticon-global:before { content: "\f13b"; }
.flaticon-girl-power:before { content: "\f13c"; }
.flaticon-networking:before { content: "\f13d"; }
.flaticon-target:before { content: "\f13e"; }